*{padding: 0;
margin: 0;
box-sizing: border-box;}

li{display: inline-block;
    padding: 5px;
    margin: 10px;}
        
    li a{text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roserifman', ;
    font-size: 20px;}

    ul{text-align: center;
    padding-top: 2px;}
        
    a:hover{color: #96e0e2;}
        
    header{background-color: rgb(67, 105, 119);
    height: 50px;}

section{width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;}

 h1{text-align: center;
color: rgb(169, 194, 241);
column-span: all;}

div{width: 30%;
border: solid 2px lightblue;
margin: 5px;
padding: 15px;}

@media (max-width:1200px)
{
    div{width: 40%;}
}

@media (max-width:1000px)
{
    div{width: 55%;}
}

.col{column-count: 3;
column-gap: 10px;
column-rule: 4px solid cornflowerblue;
border: solid black;
margin-left: 480px;}

@media (max-width:1200px)
{
    .col{margin-left: 340px;}
}

@media (max-width:1000px)
{
    .col{margin-left: 230px;}
}

.grad{height: 200px;
width: 1344px;
border: solid 2px black;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,214,233,1) 100%);}

@media (max-width:1200px)
{
    .grad{height: 140px;
        width: 1044px;}
}

@media (max-width:1000px)
{
    .grad{height: 80px;
        width: 966px;}
}